<!DOCTYPE html>
<html>
<head>
	<title>添加导航</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css">
<!--[if lt IE 9]>
  <script src="js/html5shiv.min.js"></script>
  <script src="js/respond.min.js"></script>
<![endif]-->
</head>
<body>
<include file="Public/header" />
<section class="container-fluid mana-edit">
	<div class="row">
		<include file="Public/left" />

		<div class="col-lg-9">

			<div class="panel panel-default">
			  <div class="panel-heading">
				<ol class="breadcrumb">
				  <li><a href="__CONTROLLER__/index">导航管理</a></li>
				  <li class="active">添加导航</li>
				</ol>
			  </div>
			  <div class="panel-body">
			   	

          <form class="form-horizontal" method="post" action="__CONTROLLER__/add">
            <div class="form-group">
              <label for="inputEmail3" class="col-sm-1 control-label">导航标题</label>
              <div class="col-sm-11">
                <input type="text" name="catename" class="form-control" id="inputEmail3" placeholder="输入您的导航名">
              </div>
            </div>

            <div class="form-group">
              <label for="inputEmail3" class="col-sm-1 control-label">分类</label>
              <div class="col-sm-11">
                <select class="form-control" name="pid">
                  <option value="0">0(选0默认为一级导航)</option>
                  
                  <volist name="yijinav" id="vo">
                    <option value="{$vo.id}">{$vo.catename}</option>
                  </volist>

                </select>
              </div>
            </div>

            <div class="form-group">
              <label for="inputEmail3" class="col-sm-1 control-label">url</label>
              <div class="col-sm-11">
                <input type="text" name="url" class="form-control" id="inputEmail3" placeholder="该导航下如果还有子导航,无需设置url">
              </div>
            </div>

            <div class="form-group">
              <label for="inputEmail3" class="col-sm-1 control-label">排序</label>
              <div class="col-sm-11">
                <input type="text" name="orders" class="form-control" id="inputEmail3" placeholder="排序">
              </div>
            </div>



            <div class="form-group">
              <label for="inputEmail3" class="col-sm-1 control-label">页面标题</label>
              <div class="col-sm-11">
                <input type="text" name="title" class="form-control" id="inputEmail3" placeholder="请输入页面的标题">
              </div>
            </div>

            <div class="form-group">
              <label for="inputEmail3" class="col-sm-1 control-label">页面描述</label>
              <div class="col-sm-11">
                <input type="text" name="descc" class="form-control" id="inputEmail3" placeholder="请输入页面的描述">
              </div>
            </div>

            <div class="form-group">
              <label for="inputEmail3" class="col-sm-1 control-label">关键词</label>
              <div class="col-sm-11">
                <input type="text" name="keywords" class="form-control" id="inputEmail3" placeholder="请输入页面的关键字">
              </div>
            </div>





            <div class="form-group">
              <label for="inputEmail3" class="col-sm-1 control-label">导航类型</label>
              <div class="col-sm-11">
                <label class="radio-inline">
                  <input type="radio" name="type" id="inlineRadio1" value="0">单页
                </label>
                <label class="radio-inline">
                  <input type="radio" name="type" id="inlineRadio2" value="1">列表页
                </label>
                <p>该导航下如果有子导航,请一律选择单页</p>
              </div>

            </div>

            <div class="form-group">
              <div class="col-sm-12">
                <button type="submit" class="btn btn-primary center-block">提交</button>
              </div>
            </div>
          </form>


			  </div>

			</div>




		</div>
	</div>
</section>
	
	<script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/bootstrap.js"></script>
</body>
</html>