				<div class="exar_left_bottom">

					<div class="exar_left_bottom1">
						<div>客户案例</div>
						<div><a href="/casesssss/17">MORE</a></div>
					</div>
					<div class="exar_left_bottom2">
						<volist	name="caselists" id="vo">
						<div class="exar_left_bottom3">
							<div class="exar_left_bottom4"><a href="/casepnews/{$vo.cateid}/{$vo.id}"><img src="/{$vo.pic}" width="300" height="194"></a></div>
							<div class="exar_left_bottom5">{$vo.shotitle}</div>
						</div>
					 	</volist>
					</div>
				</div>